@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@import "./tailwind-inline.css";

@theme {
    --color-side-primary: #343a40;
    --color-side-secondary: #c2c7d0;
    --color-content-primary: #212529;
    --font-lato: "Lato", sans-serif;
}

/* Base css */
body {
    @apply font-lato text-[100%] font-normal text-content-primary;
}

input,
select,
textarea {
    @apply outline-none px-2 py-1 text-base;
}

label {
    @apply block font-bold mb-1;
}

table {
    @apply w-full
}

table>tbody>tr {
    @apply border-b last:border-b-0 border-side-secondary;
}

table tbody>tr>th,
table tbody>tr>td {
    @apply border-x first:border-l-0 last:border-r-0 border-side-secondary p-2;
}

/* Component css */
.form-group {
    @apply mb-3;
}

.form-control {
    @apply rounded-sm outline-none border border-side-secondary px-2 py-1.5 w-full transition-all duration-300 focus:border-blue-400;
}

.form-control-lg {
    @apply !py-2 text-base;
}

.form-control-sm {
    @apply py-1.5 text-xs;
}

.addon-group,
.addon-group-rn {
    @apply relative flex flex-row items-center overflow-hidden;
}

.addon-group>i,
.addon-group-rn>i,
.addon-group>span,
.addon-group-rn>span {
    @apply bg-side-secondary py-[11px] px-2.5 rounded-l-sm;
}

.addon-group>span,
.addon-group-rn>span {
    @apply py-[7px] last:rounded-l-none last:rounded-r-sm;
}

.addon-group>input {
    @apply first:rounded-r-none last:rounded-l-none;
}

.addon-group-rn>input {
    @apply !rounded-none;
}

.custom-form-select {
    @apply relative overflow-hidden border border-side-secondary rounded-sm focus-within:border-blue-400;
}

.custom-form-select::after {
    @apply content-['\25BE'] text-3xl absolute top-0 right-0 text-gray-600 w-7 h-full bg-white flex justify-center items-center pointer-events-none;
}

.custom-form-select select {
    @apply disabled:bg-gray-100;
}

.custom-form-select-lg>select {
    @apply !p-[9.75px] !pr-7 text-base disabled:bg-gray-100;
}

.custom-form-select>select {
    @apply p-[8.75px] pr-7 w-full;
}

.custom-form-select-sm {
    @apply after:text-xl;
}

.custom-form-select-sm>select {
    @apply p-1.5 pr-7 text-xs;
}

.custom-checkbox {
    @apply flex flex-row items-center gap-2;
}

.custom-checkbox>label {
    @apply !font-normal !inline-block !m-0 text-sm;
}

.custom-radio {
    @apply flex flex-row items-center gap-2;
}

.custom-radio>label {
    @apply !font-normal !inline-block !m-0 text-sm;
}

.custom-switch {
    @apply !flex flex-row items-center gap-2 !m-0 relative cursor-pointer;
}

.custom-switch>.custom-switch-text {
    @apply text-sm !font-normal !m-0;
}

.custom-switch-change-btn>.custom-switch-box {
    @apply w-7 h-4 border border-side-secondary shadow-[inset_0_0_20px] shadow-side-secondary rounded-full p-0.5 cursor-pointer;
}

.custom-switch-change-box>.custom-switch-box {
    @apply w-7 h-4 border border-side-secondary bg-red-600 rounded-full p-0.5 cursor-pointer transition-all duration-300 peer-checked:bg-green-600;
}

.custom-switch-change-btn>.custom-switch-btn {
    @apply block w-2.5 h-2.5 bg-red-600 rounded-full absolute top-1/2 left-0 -translate-y-1/2 ml-1 transition-all duration-300 peer-checked:bg-green-600 peer-checked:translate-x-full;
}

.custom-switch-change-box>.custom-switch-btn {
    @apply block w-2.5 h-2.5 rounded-full bg-white absolute top-1/2 left-0 -translate-y-1/2 ml-1 transition-all duration-300 peer-checked:left-2.5;
}

.zb-multiSelector,
.zb-multiselect-box {
    @apply relative;
}

.zb-multiSelector>.zb-multiselect-box::after {
    @apply content-['\25BE'] text-3xl absolute top-[10px] right-0 -translate-y-[10px] text-gray-600 w-7 flex justify-center items-center pointer-events-none;
}

.card {
    @apply mb-2;
}

.card-header {
    @apply px-5 py-3 border border-b-0 border-side-secondary rounded-t-sm flex flex-row justify-between items-center;
}

.card-setting {
    @apply flex flex-row items-center justify-end gap-3;
}

.card-body {
    @apply p-5 border border-side-secondary first:rounded-t-sm last:rounded-b-sm;
}

.card-footer {
    @apply px-5 py-3 border border-t-0 border-side-secondary bg-gray-100 rounded-b-sm;
}

.pagination {
    @apply flex flex-row items-center justify-end text-sm;
}

.pagination-item {
    @apply border border-r-0 last:border-r border-side-secondary first:rounded-l-sm last:rounded-r-sm overflow-hidden;
}

.pagination-link {
    @apply flex flex-row items-center py-1 px-2 hover:bg-gray-200;
}

.table-container {
    @apply border border-side-secondary rounded-sm;
}

.btn {
    @apply border border-side-secondary rounded-sm px-1.5 py-0.5 cursor-pointer;
}

.btn-group {
    @apply flex flex-row items-center gap-1;
}

.btn-primary {
    @apply bg-blue-500 text-white !border-blue-500 transition-all duration-300 hover:bg-blue-600 hover:border-blue-600;
}

.btn-success {
    @apply bg-green-600 text-white !border-green-600 transition-all duration-300 hover:bg-green-700 hover:border-green-700;
}

.btn-danger {
    @apply bg-red-500 text-white !border-red-500 transition-all duration-300 hover:bg-red-600 hover:border-red-600;
}

.btn-info {
    @apply bg-teal-500 text-white !border-teal-500 transition-all duration-300 hover:bg-teal-600 hover:border-teal-600;
}

.card-primary>.card-header {
    @apply bg-blue-500 text-white !border-blue-500 transition-all duration-300;
}

.card-success>.card-header {
    @apply bg-green-600 text-white !border-green-600 transition-all duration-300;
}

.card-danger>.card-header {
    @apply bg-red-500 text-white !border-red-500 transition-all duration-300;
}

.card-info>.card-header {
    @apply bg-teal-500 text-white !border-teal-500 transition-all duration-300;
}

/* utility css */
.transition-300 {
    @apply transition-all duration-300;
}

.aside {
    @apply fixed top-0 -left-full xl:left-0 w-[250px] h-screen bg-side-primary z-50 overflow-scroll;
}

.aside.active {
    @apply -left-full;
}

.aside.active-sm {
    @apply left-0;
}

/* navigation */
.navigation {
    @apply flex flex-col gap-1 overflow-scroll;
}

.zb-nav-item>a.active {
    @apply bg-blue-500 text-white;
}

.zb-nav-link {
    @apply relative flex flex-row items-center gap-2.5 text-side-secondary px-4 py-2 rounded-md *:pointer-events-none transition-all duration-300 hover:bg-blue-500 hover:text-white;
}

.zb-nav-link>span>i {
    @apply text-lg;
}

.zb-nav-link>i {
    @apply absolute top-1/2 right-3 -translate-y-1/2 pointer-events-none;
}

.zb-sub-nav-group {
    @apply py-0.5 pl-2.5 flex-col gap-0.5 transition-all duration-300 hidden;
}

.zb-sub-nav-group.sub-active {
    @apply flex;
}

.zb-sub-nav-link {
    @apply flex flex-row items-center gap-2 px-4 py-2 text-side-secondary rounded-md *:pointer-events-none text-[15px] hover:bg-gray-600 hover:text-white;
}

.zb-sub-nav-item>a.active {
    @apply bg-gray-600 text-white;
}

/* Breadcrumb */
.zb-breadcrumb {
    @apply px-3 py-3 flex flex-row justify-end items-center gap-1;
}

.zb-breadcrumb-item {
    @apply relative after:content-['/'] last:after:content-[''];
}

.zb-breadcrumb-link {
    @apply text-blue-500;
}

.h-screen-content {
    height: calc(100vh - 109px);
}

.zb-down-arrow {
    @apply after:content-['\25BE'] after:text-2xl after:absolute after:top-1/2 after:-translate-1/2 after:right-0 after:text-white after:transition-all after:duration-500;
}

.zb-error {
    @apply text-red-500 text-sm;
}

.zb-circle {
    @apply w-1 relative after:content-[''] after:text-2xl after:absolute after:top-1/2 after:-translate-1/2 after:left-0 after:w-3.5 after:h-3.5 after:border-2 after:border-white after:rounded-full;
}

.zb-text-error {
    @apply text-red-600 text-sm;
}